<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">

    <title>Weather Forecast</title>
</head>
<body>
    <h1>Weather Forecast</h1>
    <form method="post" action="{% url 'weather_forecast' %}">

    {% csrf_token %}
    <label for="latitude">Latitude:</label>

    <input type="text" id="latitude" name="latitude" required><br></br>
    <label for="longitude">Longitude: </label>
    <input type="text" id="longitude"name="longitude" required><br></br>
    <button type="submit">Get Weather</button>

    </form>

    {% if place %}
    {% comment %} <h2>Temperature: {{ temperature }}°C</h2> {% endcomment %}
    <h2>Place: {{ place }}</h2
    {% else %}
    <h4>ERROR : Enter correct details</h4>
    {% endif %}

</body>
</html>